@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto&display=swap');

*{
  margin: 0;
  padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;        /* .row .container-fluid .col all add white space to right of mobile device causing Horizontal Scroll */
}

.col{
    padding-left: 0;
}

.col-12{                    /* affects the footer form */
    padding-left: 5px;
    padding-right: 5px;
}

/* ******************************************************** Header Section */
/* *********************************************************************** */

/* ********************************* Containers */

.container--nav{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    position: fixed;
    z-index: 999;                  /*Credit to: https://stackoverflow.com/questions/23287610/my-fixed-navbar-doesnt-work-properly*/
    background-color: #35798e;  /* Credit to: https://www.geeksforgeeks.org/how-to-change-navigation-bar-color-in-bootstrap/ */   /*Original Colour #316879*/
    border-bottom-style: ridge;
}

/* ********************************* Navbar */

.navbar{
    padding: 0 0 0 10px;
}

.navbar-brand{
    padding: 0;
}
.navbar-toggler{
    border-style: none;
}




/* ********************************* Hero Image */

.hero-image-home{
    height: 65vh;
    overflow: hidden;
    background: url('../images/taste.jpg') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: center center / cover no-repeat fixed;
    -moz-background-size: center center / cover no-repeat fixed;
    -o-background-size: center center / cover no-repeat fixed;
}

.hero-image-itinerary{
    height: 65vh;
    background: url('../images/castletown-wide.png') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-image-add-on{
    height: 65vh;
    background: url('../images/add-on-hero.png') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-image-gallery{
    height: 65vh;
    background: url('../images/boann-pot-still.png') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-image-contact{
    height: 65vh;
    background: url('../images/contact.png') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* ******************************************************** Main Sections */
/* *********************************************************************** */

/* ********************************* Intro Quote Section */

.intro--quote--container{
    max-width: 100vw;
    margin: 0;
    min-height: 19rem;
    max-height: fit-content;
    padding: 20px 0px;
    text-align: center;
    border-top-style: ridge;
    background-color: #fff;
}

.intro--quote {}

.intro--quote h1{
    font-family: 'Oswald', sans-serif;
}





/* ********************************* Package Options Section */

.package--container{
    max-width: 99vw;
    min-height: 31rem;
    max-height: fit-content;
    margin: auto;
    border-bottom-style: ridge;
    background-color: #7FE7DC;
}

.package--options{
    text-align: center;
    color: #000000;
    font-weight: 900;
    margin-top: 20px;
    border: #fff 8px solid;
}

.package--option{
    max-width: 97%;
    text-align: center;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 22px;
    background-color: #ffffff;
}

.package--option h3{
    margin: 15px;
}

.package--options{
    height: 16vh;    
    background: url('../images/taste.jpg') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.package--options h2{
    height: fit-content;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: rgba(241, 229, 209, 0.5);
}



.package--itin{
    width: 100%;
    height: 200px;
    border-radius: 22px;
    background: url('../images/newgrange-sunrise.png') center center / cover no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.package--addon{
    width: 100%;
    height: 200px;
    border-radius: 22px;
    background: url('../images/3arena.jpg') center center / cover no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* ********************************* Testimonials Section */

.testimonial--container{}

.testimonials{
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
}

.testimonials i{
    color: #F47A60;
}

.testimonials{
    text-transform: uppercase;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.testimonial{}

        /* Code snippet from Love Running mini-project */
        /* I have amended the padding, border-color & border-width */
#circle-container{
  width: 300px;
  height: 300px;
  padding: 15px;                /* Reduced from 30px */
  border-style: solid;
  border-color: #7FE7DC;      /* Changed to my colour palette*/
  border-width: 2px;            /* Increased from 1px */
  border-radius: 50%;           /* Added top and bottom margin, was set to 0 */
  margin: 10px auto;
}

#circle-cover-rob{    /* Modified ID name */
  background: url('../images/rob.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
        /* End of Code snippet from Love Running mini-project */

#circle-cover-renate{
  background: url('../images/renate.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}       

#circle-cover-hans{
  background: url('../images/hans.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}    

#circle-cover-william{
  background: url('../images/william.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}   

#circle-cover-veronica{
  background: url('../images/veronica.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}  

#circle-cover-ely{
  background: url('../images/ely.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}  


/* **************** External code for Bootstrap Carousel ***************** */
/* *****************https://bootsnipp.com/snippets/BxA1B ***************** */
 
.cta-100 {
  margin-top: 20px;  /* was 100px */
  /* padding-left: 0.5%;   was 08% */
  padding-top: 2%;   /* was 07% */
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}

.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #35798e !important;     /* Updated with my colour palette*/ /* Backgound colour of review date*/
} 

/* figure img{width:300px;} */

#blogCarousel {
  padding-bottom: 50px;  /* Reduced from 100px */
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #343434; 
  border-radius: 50%;
  width: 12px;          /* Increased width and height from 8px each and used my colour palette*/
  height: 12px;
}

.blog .carousel-indicators .active {
  background: #7FE7DC;      /* Updated with my colour palette*/
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #35798e;     /* Updated with blue from my colour palette */
  font-family: 'Roboto', sans-serif;      /* Is this actually required or is it being picked up ok from Body{} ? */
  font-weight: 400;
  font-size: 19px;
  text-align: justify;
  z-index: 4;
  padding: 15px;  /* reduced from 20px */
  margin: 70px;     /* Added by me*/
  min-width: 320px;     /* Added by me */
}

.item-box-blog-image {
  position: relative;
}

/* .item-box-blog-image figure img {
  width: 100%;
  height: auto;
} */

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
} 

/* .item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
} */

/* .item-box-blog-date span.mon {
  font-size: 18px;
} */

/* .item-box-blog-date span.day {
  font-size: 16px;
} */

.item-box-blog-body {
  padding: 5px;             /* Reduced from 10px*/
  min-height: 200px;        /* Added by me*/
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;   /* Was 0.3s but have increased while I work on the styling. Will need to be reduced again later!!! */
}

.item-box-blog-heading a {
    text-decoration: none;
}

/* .item-box-blog-data p {     /* These were for the Admin and Comments text under the image, but I have removed these in the html
  font-size: 13px;
} */

/* .item-box-blog-data p i {
  font-size: 12px;
} */

/* .item-box-blog-text {
  max-height: 150px;        /* increased from 100px 
  overflow: hidden;
} */

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

/* .btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
} */



/* ******************************************************** Footer Section */
/* *********************************************************************** */

.footer--container{
    color: #dae0e4;
    max-width: 100%;
    margin: 0;
    height: fit-content;
    padding: 0;
    background-color: #343434;
}

.newsletter{
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
}
.newsletter i{
    color: #F47A60;
}

.newsletter p{
    color: #dae0e4;
}

form{
    text-align: center;
} 


footer form input:hover{
    border: 2px solid #7FE7DC;
    
}

.social-media{
    color: #fff;
    padding-top: 15px;
    background-color: #343434;  /*?????*/
    /*border-top: ridge; */
}

.social-media  i{       /* Code snippet modified from CI Resume walk-through project */
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #7FE7DC;
    background: #545454;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media i:hover{
    background: #F47A60;
}                       /* End of Code snippet from CI Resume walk-through project */

/* *************************************************************** Buttons */
/* *********************************************************************** */

.btn-navbar{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #F47A60;
    border-radius: 22px;
}

.btn, .btn-info .btn-styling, .btn-navbar{
    border: none;
}

.btn-light-blue:hover{
    background-color: #7FE7DC;
    color: #35798e;
}

.btn-styling{
    font-weight: bold;
    color: #fff;
    /*background-color: #F47A60; */
    background-color: #35798e;
    border-radius: 22px;
}

.btn-styling:hover{
    /*background-color: #35798e; */
    background-color: #F47A60;
}

.center{
    align-items: center;
}

 .btn-close{
    font-weight: bold;
    color: #fff;
    background-color: #7FE7DC;
    border-radius: 22px;
} 

/*
.button--coral--container{
    max-width: 100%;
    min-height: fit-content;
    max-height: fit-content;
    margin: 3px;
    border-radius: 22px;
    color: #fff;
    background-color: #F47A60;
    background-color: rgba(244, 122, 96, 0.9);
    border: #35798e 1px solid;
} */

/* ******************************************** Media Queries for index.html */

@media screen and (max-width: 1500px) {
    .item-box-blog {
        margin: 10px;
    }
}

@media screen and (max-width: 991px) {
    .item-box-blog {
        margin: 35px;
    }
}

@media screen and (max-width: 695px) {
    .item-box-blog {
        margin: 10px;
    }
} 



/* *****************************************************itinerary.html page */
/* *********************************************************************** */








/* ********************************* Itinerary Section */

.itinerary--container{
    max-width: 100vw;
    min-height: 31rem;
    max-height: fit-content;
    margin: 0 auto;
    /* border-bottom-style: ridge; */
    background-color: #7FE7DC;
}

.itinerary--container .container{
    padding-left: 0;
    padding-right: 0;
}

.itinerary--header{
    max-width: 95vw;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    text-align: center;
    color: #F47A60;
    font-weight: 900;
    border-radius: 22px;
    border: #fff 8px solid;
    background-color: #ffffff;

    height: 16vh;    
    background: url('../images/castletown-wide.png') center center / cover no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.itinerary--body{
    max-width: 95vw;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    border-radius: 22px;
    border: #fff 8px solid;
    background-color: #ffffff;
}

.itinerary--header h2{
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px #35798e;
    font-weight: 900;
    padding-bottom: 5px;
    background: rgba(236, 231, 231, 0.4);
}

.outer--day--container{
    width: 100%;
    border: #35798e 1px solid;
    border-radius: 22px;
    padding: 0;
} 

.day--header--container{      
    max-width: 100vw;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 22px;
    color: #343434;
    background-color: #ffffff;
    border: #35798e 1px solid;
}

.day--container{
    width: 100%;
    padding: 10px;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 22px;
}

.itinerary--description{
    width: 100%;
    font-size: 18px;
}

.itinerary--description ul{
    list-style: none;
}

.itinerary--description ul i{
    color: #F47A60;
}

.itinerary--images img{
    width: 100%;
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-style: groove;
    border-radius: 22px;
    background-color: #dae0e4
}

.included--container{
    max-width: 100%;
    min-height: 31rem;
    max-height: fit-content;
    margin: auto;
}



@media (min-width:768px) {
    #dayOneReadMore,
    #dayTwoReadMore,
    #dayThreeReadMore,
    #dayFourReadMore,
    #dayFiveReadMore,
    #daySixReadMore,
    #daySevenReadMore,
    #dayEightReadMore {
        display: block;
    }
    .itinerary--description div ul a{
        display: inline-block;
    }
    .itinerary--description div a{
        display: none;
    } 
}

.videoWrapper{ /* Code snippet from https://css-tricks.com/fluid-width-video/ */
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe { /* Modified Code snippet from https://css-tricks.com/fluid-width-video/ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: groove;
    border-radius: 22px;
    background-color: #dae0e4
}

@media (min-width:992px) {
    .outer--day--container{
        border: none;
    }
}

@media (max-width:1182px) {
    .day--header--container h5{
        font-size: smaller;
    }
}

@media (max-width:849px) {
    .day--header--container h5{
        display: none;
    }
}

.inclusions-section{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.inclusions{
    max-width: 100%;
    margin: 0 auto 0 auto;
    padding: 20px 25px;
    min-height: 20rem;
    max-height: fit-content;
    align-self: center;
    display: inline-block;
}

.optionals{
    max-width: 100%;
    margin: 0x auto 0 auto;
    padding: 20px 25px;
    min-height: 20rem;
    max-height: fit-content;
    align-self: center;
    display: inline-block;
}

@media (min-width:678px){
    .inclusions, optionals{
        margin: 25px auto 0 auto;
    }
}

.orange-icon{
    color: #F47A60;
}


/* *****************************************************add-on.html page */

.add-on--header{
    max-width: 95vw;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    text-align: center;
    color: #F47A60;
    font-weight: 900;
    border-radius: 22px;
    border: #fff 8px solid;
    background-color: #ffffff;

    height: 16vh;    
    background: url('../images/add-on-hero.png') center center / cover no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

hr{
    border: 1px solid #dae0e4;
}

@media (min-width:678px){ /* I was assisted by the following example: https://css-tricks.com/almanac/properties/o/order/ */
    .flex-item-A{
        order: 2;
    }
    .flex-item-B{
        order: 1;
    }
    .flex-item-c{
        order: 3;
    }
}




/* *****************************************************Contact.html page */
/* *********************************************************************** */

.gallery-container{
    max-width: 100vw;
    margin: 0;
    min-height: 12rem;
    max-height: fit-content;
    padding: 20px 0px;
    text-align: center;
    border-top-style: ridge;
    background-color: #fff;
}

#photos{
    box-sizing: border-box;
    margin: 10px;
}

img{
    margin-top: 9.5px;
    margin-bottom: 2.5px;
}

#photos img {   /* Code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover */
  padding: 2px;
  transition: transform .2s;
  width: 148px;
  height: 110px;
  margin: 2px auto;
  border-radius: 11px;
  border: 3px solid #343434;
}

#photos img:hover {     /* Code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover */
  -ms-transform: scale(1.35); /* IE 9 */
  -webkit-transform: scale(1.35); /* Safari 3-8 */
  transform: scale(1.35); 
  border: 2px solid #545454;
}

@media (min-width:678px){ 
    #photos img:hover{
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5); 
    border: 3px solid #ffffff;
    }
}

/************/




.section--container{
    max-width: 100%;
    height: 120vh;
    margin: 20px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #7FE7DC;
}


/* 
.outer--contact--container{
    max-width: 90vw;
    height: 90vh;
    background-color: #7FE7DC;
} */

/*
.section--container .container{
    margin: 0;
    padding: 0;
} */

.outer--contact--container{
    max-width: 100vw;
    height: 100vh;    
    /*margin-top: 50px;*/
    background: url('../images/contact.png') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    background-color: rgba(52, 52, 52, 0.6);
    border-radius: 22px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.handle--container{
    max-width: 25vw;
    max-height: 14vh;
    margin-left: 27vw; 
    /*margin-right: 34vw; */
    padding-top: 6vh;
    background-color: rgba(52, 52, 52, 0.6);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.inner--handle{
    max-width: 17vw;
    max-height: 08vh;
    margin-left: 3vw; 
    margin-right: 5vw;
    align-self: baseline;
    padding-bottom: 0;
    background-color: #7FE7DC;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.inner--handle{
    width: 20vw;
    height: 10vh;    
    background: url('../images/contact.png') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.left--suitcase--container{
    max-width: 14%;
    margin: 0 auto;
    /*background-color: #35798e;*/
    background-color: rgba(52, 52, 52, 0.6);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: inline-block;
    position: relative;
    /*left: 20px;*/    /* Not doing anything so needs to be double checked and then removed */
} 

.center--suitcase--container{
    width: 64vw;
    min-height: 76vh;
    margin: 70px 8px;
    border-radius: 11px;
    background-color: rgba(52, 52, 52, 0.6);
    display: inline-block;
    position: relative;
   
}

.right--suitcase--container{
    max-width: 14%;
    margin: 0 auto;
    background-color: rgba(52, 52, 52, 0.6);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: inline-block;
    position: relative;
    /* left: 70px; */  /* Not doing anything so needs to be double checked and then removed */
}

.opaque-overlay{   /* External code from the Code Institute walk-thru mini-project - Whiskey Drop */
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 52, 52, 0.6);
    border-radius: 22px;
}   /* End of external code */

fieldset{
    border: 1px solid #dae0e4;
    color: #ffffff;
    padding: 10px;
    margin-top: 40px;
}

legend{
    width: fit-content;
    text-align: left;
} 

label{
    text-align: left;
}

input{
    text-align: left;
}

@media screen and (min-width:779px){
    .center--suitcase--container{
        width: 60vw;
        margin: 100px 70px;
        padding: 20px 25px;
        border-radius: 11px;
        background-color: rgba(52, 52, 52, 0.6);
        display: inline-block;
        position: relative;
        left: 21px; 
    }
}

@media screen and (min-width:1200px){
    .left--suitcase--container{
        max-width: 14%;
        max-height: 76vh;
        margin: 0 auto;
        background-color: rgba(52, 52, 52, 0.6);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        display: inline-block;
        position: relative;
        left: 25px;
    } 

    .center--suitcase--container{
        width: 60vw;
        min-height: 76vh;
        margin: 0 8px;
        border-radius: 11px;
        background-color: rgba(52, 52, 52, 0.6);
        display: inline-block;
        position: relative;
    
    }

    .right--suitcase--container{
        max-width: 14%;
        max-height: 76vh;
        margin: 0 auto;
        background-color: rgba(52, 52, 52, 0.6);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: inline-block;
        position: relative;
        left: 25px;
    }
}

@media screen and (min-width:1700px){
    .center--suitcase--container{
        width: 60vw;
        min-height: 76vh;
        margin: 0 5px;
        background-color: rgba(52, 52, 52, 0.6);
        display: inline-block;
        position: relative;
        left: 25px;
    }
}


/* **************************************************General Media Queries */
/* *********************************************************************** */
/*
@media only screen and (max-width: 768px) {
  .responsive {
    width: 100%;
  }
} */


@media screen and (max-width: 420px) {
    form{
        text-align: right;
    }
    footer label {
        margin-right: 10px
    }
    footer input{
        margin-right: 2px;
    }
}

/*@media screen and (max-width: 768px) {
    form{
        text-align: left;
        margin-right: 150px;
    }
    footer label {
        margin-right: 10px
    }
    footer input{
        margin-right: 2px;
    }
} */



