@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 'Merienda+One', cursive; */
/* 'Quicksand', sans-serif; */

 body{
     font-family: 'Quicksand', sans-serif;
     font-weight: 500;
 } 




/* ******************************************************** Header Section */
/* *********************************************************************** */

/* ********************************* Containers */

.container--nav{
    font-family: 'Merienda+One', cursive;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    position: fixed;
    z-index: 999;                  /*Credit to: https://stackoverflow.com/questions/23287610/my-fixed-navbar-doesnt-work-properly*/
    background-color: #316879;  /* Credit to: https://www.geeksforgeeks.org/how-to-change-navigation-bar-color-in-bootstrap/ */
    border-bottom-style: ridge;
}

/* ********************************* Hero Image */

.hero-image-home{
    height: 80vh;
    background: url('/assets/images/taste.jpg') center center / cover no-repeat fixed; /* 'cover' - Alternative Browser!!???*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



/* ******************************************************** Main Sections */
/* *********************************************************************** */

/* ********************************* Intro Quote Section */

.intro--quote--container{
    max-width: 100%;
    margin: auto;
    min-height: 19rem;
    max-height: fit-content;
    padding: 20px 0px;
    text-align: center;
    border-top-style: ridge;
    background-color: #fff;
}

.intro--quote{}





/* ********************************* Package Options Section */

.package--container{
    max-width: 100%;
    min-height: 31rem;
    max-height: fit-content;
    margin: auto;
    border-bottom-style: ridge;
    background-color: #7FE7DC;
}

.package--options{}

.package--option{}

.package--itin{}

.package--addon{}


/* ********************************* Testimonials Section */

.testimonial--container{}

.testimonials{}

.testimonial{}



/* ******************************************************** Footer Section */
/* *********************************************************************** */

.footer--container{
    max-width: 100%;
    margin: auto;
    height: 350x;
    padding: 50px 0;
    background-color: #343434;
}








/* ******************************************************** Media Queries */
/* *********************************************************************** */

 

.block--container--white{
    max-width: 100%;
    margin: auto;
    height: 19rem;
    padding: 50px 0px;
    border-top-style: ridge;
    background-color: #fff;
}

.block--container--blue{
    max-width: 100%;
    margin: auto;
    min-height: 31rem;
    padding: 50px 0;
    border-bottom-style: ridge;
    background-color: #7FE7DC;
}

.block--container--gray{
    max-width: 100%;
    margin: auto;
    height: 300px;
    padding: 50px 0px;
    background-color: #fff;
}


.block--container--footer{
    max-width: 100%;
    margin: auto;
    height: 350x;
    padding: 50px 0;
    background-color: #343434;
}


.inner--container--one{
    max-width: 90%;
    height: 11rem;
    align-self: center;
    padding: 30px 30px;
    background-color: pink;
    
}

.inner--container--two{
    max-width: 85%;
    height: 440px;
    padding: 30px;
}

.inner--container--three{
    max-width: 40%;
    min-height: 23rem;
    padding: 50px 30px;
    border-radius: 2.5%;
    background-color: #ffffff;
}

.inner--container--four{
    max-width: 90%;
    height: 450;
    padding: 30px 30px;
    background-color:  rgba(218, 224, 228, 0.50);
}


