@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto&display=swap');

*{
  margin: 0;
  padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;        /* .row .container-fluid .col all add white space to right of mobile device causing Horizontal Scroll */
}

.col{
    padding-left: 0;
}

.col-12{                    /* affects the footer form */
    padding-left: 5px;
    padding-right: 5px;
}

a{
    color: #35798e;     /* Targets "read More" links in Carousel & Collapse */
    text-decoration: none;
    background-color: transparent;
}

/* ******************************************************** Header Section */
/* *********************************************************************** */

/* ********************************* Containers */

.container--nav{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    position: fixed;
    z-index: 999;                  /*Credit to: https://stackoverflow.com/questions/23287610/my-fixed-navbar-doesnt-work-properly*/
    background-color: #35798e;  /* Credit to: https://www.geeksforgeeks.org/how-to-change-navigation-bar-color-in-bootstrap/ */   /*Original Colour #316879*/
    border-bottom-style: ridge;
}

/* ********************************* Navbar */

.navbar{
    padding: 0 0 0 10px;
}

.navbar-brand{
    padding: 0;
}
.navbar-toggler{
    border-style: none;
}

.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar .active{
    text-decoration-line: underline;
}

.nav-link a:hover{
    text-decoration-line: underline;
}



/* ********************************* Hero Image */

.hero-image-home{
    height: 65vh;
    overflow: hidden;
    background: url('../images/taste.jpg') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: center center / cover no-repeat fixed;
    -moz-background-size: center center / cover no-repeat fixed;
    -o-background-size: center center / cover no-repeat fixed;
}

.hero-image-itinerary{
    height: 65vh;
    background: url('../images/castletown-wide.png') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: center center / cover no-repeat fixed;
    -moz-background-size: center center / cover no-repeat fixed;
    -o-background-size: center center / cover no-repeat fixed;
}

.hero-image-add-on{
    height: 65vh;
    background: url('../images/add-on-hero-min.png') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: center center / cover no-repeat fixed;
    -moz-background-size: center center / cover no-repeat fixed;
    -o-background-size: center center / cover no-repeat fixed;
}

.hero-image-gallery{
    height: 65vh;
    background: url('../images/boann-pot-still.png') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: center center / cover no-repeat fixed;
    -moz-background-size: center center / cover no-repeat fixed;
    -o-background-size: center center / cover no-repeat fixed;
}

.hero-image-contact{
    height: 65vh;
    background: url('../images/contact.png') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: center center / cover no-repeat fixed;
    -moz-background-size: center center / cover no-repeat fixed;
    -o-background-size: center center / cover no-repeat fixed;
}


/* ******************************************************** Main Sections */
/* *********************************************************************** */

/* ********************************* Intro Quote Section */

.intro--quote--container{
    max-width: 100vw;
    margin: 0;
    min-height: 19rem;
    max-height: fit-content;
    padding: 20px 0px;
    text-align: center;
    border-top-style: ridge;
    background-color: #fff;
}

.intro--quote h1{
    font-family: 'Oswald', sans-serif;
}





/* ********************************* Package Options Section */

.package--container{
    max-width: 99vw;
    min-height: 31rem;
    max-height: fit-content;
    margin: auto;
    border-bottom-style: ridge;
    background-color: #7FE7DC;
}

.package--options{
    text-align: center;
    color: #000000;
    font-weight: 900;
    margin-top: 20px;
    border: #fff 8px solid;
}

.package--option{
    max-width: 97%;
    text-align: center;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 22px;
    background-color: #ffffff;
}

.package--option h3{
    margin: 15px;
}

.package--options{
    height: 16vh;    
    background: url('../images/taste.jpg') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.overlay h2{
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.overlay--anchor{
    height: 16vh;
    position: relative;
}

.overlay {   /* Adapted External code from the Code Institute walk-thru mini-project - Whiskey Drop */
    position: absolute; 
    top: -24px;
    left: -1px;
    display: block;
    max-width: auto;
    height: 14.3vh;
    background-color: rgba(52, 52, 52, 0.4);
    border-radius: 15px;
}   /* End of external code */

@media screen and (max-width: 400px){   /* Media query for parallax overlay for index.html / itinerary.html / add-on.html */
    .overlay {   /* Adapted External code from the Code Institute walk-thru mini-project - Whiskey Drop */
        position: absolute; 
        top: -24px;
        left: -1px;
        display: block;
        max-width: auto;
        height: 13.75vh;
        background-color: rgba(52, 52, 52, 0.4);
        border-radius: 15px;
    }   /* End of external code */
    #add--on--overlay--text h2{
        text-align: center;
        text-transform: uppercase;
        margin: 07px auto;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
}

.package--itin{
    width: 100%;
    height: 200px;
    border-radius: 22px;
    background: url('../images/newgrange-sunrise.png') center center / cover no-repeat; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.package--addon{
    width: 100%;
    height: 200px;
    border-radius: 22px;
    background: url('../images/3arena.jpg') center center / cover no-repeat; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* ********************************* Testimonials Section */

.testimonials{
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
}

.testimonials i{
    color: #F47A60;
}

.testimonials{
    text-transform: uppercase;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

        /* Code snippet from Love Running mini-project */
        /* I have amended the padding, border-color & border-width */
.circle-container{
  width: 300px;
  height: 300px;
  padding: 15px;                /* Reduced from 30px */
  border-style: solid;
  border-color: #7FE7DC;      /* Changed to my colour palette*/
  border-width: 2px;            /* Increased from 1px */
  border-radius: 50%;           /* Added top and bottom margin, was set to 0 */
  margin: 10px auto;
}

.circle-cover-rob{    /* Modified from an ID to a Class as I needed to reuse the code */
  background: url('../images/rob.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
        /* End of Code snippet from Love Running mini-project */

.circle-cover-renate{
  background: url('../images/renate.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}       

.circle-cover-hans{
  background: url('../images/hans.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}    

.circle-cover-william{
  background: url('../images/william.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}   

.circle-cover-veronica{
  background: url('../images/veronica.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}  

.circle-cover-ely{
  background: url('../images/ely-min.png') no-repeat center center;
  height: 100%;
  border-radius: 50%;
}  


/* **************** External code for Bootstrap Carousel ***************** */
/* *****************https://bootsnipp.com/snippets/BxA1B ***************** */
 
.cta-100 {
  margin-top: 20px;  /* was 100px */
  /* padding-left: 0.5%;   was 08% */
  padding-top: 2%;   /* was 07% */
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}

.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #35798e !important;     /* Updated with my colour palette*/ /* Backgound colour of review date*/
} 

/* figure img{width:300px;} */

#blogCarousel {
  padding-bottom: 50px;  /* Reduced from 100px */
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #343434; 
  border-radius: 50%;
  width: 12px;          /* Increased width and height from 8px each and used my colour palette*/
  height: 12px;
}

.blog .carousel-indicators .active {
  background: #7FE7DC;      /* Updated with my colour palette*/
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #35798e;     /* Updated with blue from my colour palette */
  font-family: 'Roboto', sans-serif;      /* Is this actually required or is it being picked up ok from Body{} ? */
  font-weight: 400;
  font-size: 19px;
  text-align: justify;
  z-index: 4;
  padding: 15px;  /* reduced from 20px */
  margin: 70px;     /* Added by me*/
  min-width: 320px;     /* Added by me */
}

.item-box-blog-image {
  position: relative;
}

/* .item-box-blog-image figure img {
  width: 100%;
  height: auto;
} */

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
} 

/* .item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
} */

/* .item-box-blog-date span.mon {
  font-size: 18px;
} */

/* .item-box-blog-date span.day {
  font-size: 16px;
} */

.item-box-blog-body {
  padding: 5px;             /* Reduced from 10px*/
  min-height: 200px;        /* Added by me*/
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;   /* Was 0.3s but have increased while I work on the styling. Will need to be reduced again later!!! */
}

.item-box-blog-heading a {
    text-decoration: none;
}

/* .item-box-blog-data p {     /* These were for the Admin and Comments text under the image, but I have removed these in the html
  font-size: 13px;
} */

/* .item-box-blog-data p i {
  font-size: 12px;
} */

/* .item-box-blog-text {
  max-height: 150px;        /* increased from 100px 
  overflow: hidden;
} */

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

/* .btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
} */



/* ******************************************************** Footer Section */
/* *********************************************************************** */

.footer--container{
    color: #dae0e4;
    max-width: 100%;
    margin: 0;
    height: fit-content;
    padding: 0;
    background-color: #343434;
}

.newsletter{
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
}
.newsletter i{
    color: #F47A60;
}

.newsletter p{
    color: #dae0e4;
}

form{
    text-align: center;
} 

footer .form-group{
    padding-bottom: 0;
}


footer form input:hover{
    border: 2px solid #7FE7DC;
}

.social-media{
    color: #fff;
    padding-top: 15px;
    background-color: #343434;   
}

.social-media  i{       /* Code snippet modified from CI Resume walk-through project */
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #7FE7DC;
    background: #545454;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media i:hover{
    background: #F47A60;
}                       /* End of Code snippet from CI Resume walk-through project */

footer ul{
    padding: 15px;
}

footer ul li{
    padding-left: 4px;
    padding-right: 4px;
}

/* *************************************************************** Buttons */
/* *********************************************************************** */

.btn-navbar{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #343434;
    background-color: #fff;
    border-radius: 22px;
}

.btn, .btn-info .btn-styling, .btn-navbar{
    border: none;
}

.btn-light-blue:hover{
    background-color: #F47A60;
    color: #ffffff;
}

.btn-styling{
    font-weight: bold;
    color: #fff;
    background-color: #35798e;
    border-radius: 22px;
}

.btn-styling:hover{
    /*background-color: #35798e; */
    background-color: #F47A60;
}

.center{
    align-items: center;
}

 .btn-close{
    font-weight: bold;
    color: #fff;
    background-color: #7FE7DC;
    border-radius: 22px;
} 

/* ******************************************** Media Queries for index.html */

@media screen and (max-width: 1500px) {
    .item-box-blog {
        margin: 10px;
    }
}

@media screen and (max-width: 991px) {
    .item-box-blog {
        margin: 35px;
    }
}

@media screen and (max-width: 695px) {
    .item-box-blog {
        margin: 10px;
    }
} 



/* *****************************************************itinerary.html page */
/* *********************************************************************** */








/* ********************************* Itinerary Section */

.itinerary--container{
    max-width: 100vw;
    min-height: 31rem;
    max-height: fit-content;
    margin: 0 auto;
    /* border-bottom-style: ridge; */
    background-color: #7FE7DC;
}

.itinerary--container .container{
    padding-left: 0;
    padding-right: 0;
}

.itinerary--header{
    max-width: 95vw;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    text-align: center;
    color: #F47A60;
    font-weight: 900;
    border-radius: 22px;
    border: #fff 8px solid;
    background-color: #ffffff;

    height: 16vh;    
    background: url('../images/castletown-wide.png') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.itinerary--body{
    max-width: 95vw;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    border-radius: 22px;
    border: #fff 8px solid;
    background-color: #ffffff;
}

.itinerary--header h2{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #ffffff;
}

.outer--day--container{
    width: 100%;
    border: #35798e 1px solid;
    border-radius: 22px;
    padding: 0;
} 

.day--header--container{      
    max-width: 100vw;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 22px;
    color: #343434;
    background-color: #ffffff;
    border: #35798e 1px solid;
}

.day--container{
    width: 100%;
    padding: 10px;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 22px;
}

.itinerary--description{
    width: 100%;
    font-size: 18px;
}

.itinerary--description ul{
    list-style: none;
}

.itinerary--description ul i{
    color: #F47A60;
}

.itinerary--images img{
    width: 100%;
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-style: groove;
    border-radius: 22px;
    background-color: #dae0e4
}

.included--container{
    max-width: 100%;
    min-height: 31rem;
    max-height: fit-content;
    margin: auto;
}



@media (min-width:768px) {
    #dayOneReadMore,
    #dayTwoReadMore,
    #dayThreeReadMore,
    #dayFourReadMore,
    #dayFiveReadMore,
    #daySixReadMore,
    #daySevenReadMore,
    #dayEightReadMore {
        display: block;
    }
    .itinerary--description div ul a{
        display: inline-block;
    }
    .itinerary--description div a{
        display: none;
    } 
}

.videoWrapper{ /* Code snippet from https://css-tricks.com/fluid-width-video/ */
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe { /* Modified Code snippet from https://css-tricks.com/fluid-width-video/ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: groove;
    border-radius: 22px;
    background-color: #dae0e4
}

@media (min-width:992px) {
    .outer--day--container{
        border: none;
    }
}

@media (max-width:1182px) {
    .day--header--container h5{
        font-size: smaller;
    }
}

@media (max-width:849px) {
    .day--header--container h5{
        display: none;
    }
}

@media screen and (max-width:568px){
    .day--header--container h4{
        font-size: smaller;
    }
}

.inclusions-section{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.inclusions{
    max-width: 100%;
    margin: 0 auto 0 auto;
    padding: 20px 25px;
    min-height: 20rem;
    max-height: fit-content;
    align-self: center;
    display: inline-block;
}

.optionals{
    max-width: 100%;
    margin: 0x auto 0 auto;
    padding: 20px 25px;
    min-height: 20rem;
    max-height: fit-content;
    align-self: center;
    display: inline-block;
}

@media (min-width:678px){
    .inclusions, optionals{
        margin: 25px auto 0 auto;
    }
}

.orange-icon{
    color: #F47A60;
}


/* *****************************************************add-on.html page */

.add--on--container{
    max-width: 100vw;
    min-height: 31rem;
    max-height: fit-content;
    margin: 0 auto;
    background-color: #7FE7DC;

    /* max-width: 100vw;
    min-height: 31rem;
    max-height: fit-content;
    margin: 0 auto;
    /* border-bottom-style: ridge; */
    /*background-color: #7FE7DC;*/
}

.add-on--header{
    max-width: 95vw;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    text-align: center;
    color: #F47A60;
    font-weight: 900;
    border-radius: 22px;
    border: #fff 8px solid;
    background-color: #ffffff;

    height: 16vh;    
    background: url('../images/add-on-hero-min.png') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.add-ons-overlay{
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.add-ons-overlay--anchor{
    height: 16vh;
    position: relative;
}


hr{
    border: 1px solid #dae0e4;
}

@media (min-width:678px){ /* I was assisted by the following example: https://css-tricks.com/almanac/properties/o/order/ */
    .flex-item-A{
        order: 2;
    }
    .flex-item-B{
        order: 1;
    }
    .flex-item-c{
        order: 3;
    }
}




/* *****************************************************Contact.html page */
/* *********************************************************************** */

.gallery-container{
    max-width: 100vw;
    margin: 0;
    min-height: 12rem;
    max-height: fit-content;
    padding: 20px 0px;
    text-align: center;
    border-top-style: ridge;
    background-color: #fff;
}

#photos{
    box-sizing: border-box;
    margin: 10px;
}

img{
    margin-top: 9.5px;
    margin-bottom: 2.5px;
}

#photos img {   /* Code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover */
  padding: 2px;
  transition: transform .2s;
  width: 148px;
  height: 110px;
  margin: 2px auto;
  border-radius: 11px;
  border: 3px solid #343434;
}

#photos img:hover {     /* Code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover */
  -ms-transform: scale(1.35); /* IE 9 */
  -webkit-transform: scale(1.35); /* Safari 3-8 */
  transform: scale(1.35); 
  border: 2px solid #545454;
}

@media (min-width:678px){ 
    #photos img:hover{
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5); 
    border: 3px solid #ffffff;
    }
}

/************/




.section--container{
    max-width: 100%;
    min-height: fit-content;
    min-height: 190vh;
    max-height: fit-content;
    margin: 20px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #7FE7DC;
}

.contact--outer--container{
    max-width: 100vw;
    height: fit-content;  
    max-height: fit-content;  
    min-height: 205vh;
    background: url('../images/contact.png') center center / cover no-repeat fixed; 
    background-color: rgba(52, 52, 52, 0.6);
    border-radius: 22px;
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media screen and (min-width:569px){
    .contact--outer--container{
        max-width: 100vw; 
        max-height: fit-content;  
        min-height: 125vh;
        font-size: 0.90em;
    }
    fieldset span{
        font-size: 0.90em;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    fieldset{
        border: 1px solid #dae0e4;
        color: #ffffff;
        font-size: 0.90em;
        padding: 10px;
        margin-top: 20px;
    }
    fieldset label, p{
        font-size: 0.90em;
    }
    fieldset .form-check-input{
        size: 0px;
    }
}

@media screen and (min-width:1200px){
    .contact--outer--container{
        max-width: 100vw; 
        max-height: fit-content;  
        min-height: 145vh;
    }
    fieldset span{
        font-size: 1.25em;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    fieldset{
        border: 1px solid #dae0e4;
        color: #ffffff;
        font-size: 1.25em;
        padding: 10px;
        margin-top: 20px;
    }
    .left--suitcase--container{
        min-height: 120vh;
    }
    .right--suitcase--container{
        min-height: 120vh;
    }
}

@media screen and (min-width:1240px){
    .contact--outer--container{
        max-width: 100vw; 
        max-height: fit-content;  
        min-height: 145vh;
    }
    fieldset span{
        font-size: 1.25em;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    fieldset{
        border: 1px solid #dae0e4;
        color: #ffffff;
        font-size: 1.25em;
        padding: 10px;
        margin-top: 20px;
    }
    .left--suitcase--container{
        min-height: 110vh;
    }
    .right--suitcase--container{
        min-height: 110vh;
    }
}

@media screen and (min-width:1500px){
    .contact--outer--container{
        max-width: 100vw; 
        max-height: fit-content;  
        min-height: 120vh;
    }
    fieldset span{
        font-size: 1.25em;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    fieldset{
        border: 1px solid #dae0e4;
        color: #ffffff;
        font-size: 1.25em;
        padding: 10px;
        margin-top: 20px;
    }
    .left--suitcase--container{
        min-height: 100vh;
    }
    .right--suitcase--container{
        min-height: 100vh;
    }
}

@media screen and (min-width:1515px){
    .contact--outer--container{
        max-width: 100vw; 
        max-height: fit-content;  
        min-height: 130vh;
    }
    fieldset span{
        font-size: 1.25em;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    fieldset{
        border: 1px solid #dae0e4;
        color: #ffffff;
        font-size: 1.25em;
        padding: 10px;
        margin-top: 20px;
    }
    fieldset label, p{
        font-size: 1.25em;
    }
    .left--suitcase--container{
        min-height: 90vh;
    }
    .right--suitcase--container{
        min-height: 90vh;
    }
}   /* Pretty sure code is good until here! */


.handle--container{
    max-width: 25vw;
    max-height: 14vh;
    margin-left: 27vw; 
    /*margin-right: 34vw; */
    padding-top: 6vh;
    background-color: rgba(52, 52, 52, 0.6);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.inner--handle{
    max-width: 17vw;
    max-height: 08vh;
    margin-left: 3vw; 
    margin-right: 5vw;
    align-self: baseline;
    padding-bottom: 0;
    background-color: #7FE7DC;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.inner--handle{
    width: 20vw;
    height: 10vh;  
    background: url('../images/contact.png') center center / cover no-repeat fixed; 
    background-size: center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.left--suitcase--container{
    max-width: 14%;
    margin: 0 auto;
    background-color: rgba(52, 52, 52, 0.6);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: inline-block;
    position: relative;
} 

.center--suitcase--container{
    /*width: 64vw; */
    /*min-height: 76vh;*/
    height: fit-content;
    margin: 70px 8px;
    border-radius:11px;
    background-color: rgba(52, 52, 52, 0.6);
    display: inline-block;
    position: relative;
   
}

.right--suitcase--container{
    max-width: 14%;
    margin: 0 25px 0 0;
    background-color: rgba(52, 52, 52, 0.6);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: inline-block;
    position: relative;
}

.opaque-overlay{   /* External code from the Code Institute walk-thru mini-project - Whiskey Drop */
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 52, 52, 0.6);
    border-radius: 22px;
}   /* End of external code */


fieldset{
    border: 1px solid #dae0e4;
    color: #ffffff;
    font-size: 0.9em;
    margin-top: 20px;
}

legend{
    width: fit-content;
    text-align: left;
} 

fieldset label{
    text-align: left;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

input{
    text-align: justify;
}

fieldset span{
    padding-top: 14px;
    padding-bottom: 14px;
}

textarea{
    width: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 40px;
}


/* Start of Overriding Bootstrap CSS */

.contact--outer--container .card { 
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(52, 52, 52, 0.1);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
} 

form fieldset .card-header {
    background-color: rgba(255, 255, 255, 0.164);
}  

form fieldset input label{
    margin-left: 5px;
} 

form fieldset .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 25px;
    min-height: 300px;
    margin: 0;
}

textarea {
    width: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 40px 0 0 0;
}

form fieldset p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

form fieldset .h2 {
    font-size: 0.9em;
    text-align: justify;
}

form fieldset .h2 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: inherit;
    text-align: left;
    line-height: 1;
    color: inherit;
}

form fieldset h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    text-align: left;
}

form fieldset h2 {
    display: block;
    font-size: 0.95em;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    color: #ffffff;
}

form fieldset input:hover{
    border: 2px solid #7FE7DC;
}
/* End of Overriding Bootstrap CSS */


@media screen and (min-width:779px){
    .center--suitcase--container{
        /*width: 60vw; */
        min-height: fit-content;
        margin: 100px 70px;
        padding: 20px 25px;
        border-radius: 11px;
        background-color: rgba(52, 52, 52, 0.6);
        display: inline-block;
        position: relative;
        left: 21px; 
    }
}

@media screen and (min-width:1200px){
    .left--suitcase--container{
        max-width: 12%;
        /*max-height: 94vh;*/
        margin: 0 20px 0 70px;
        background-color: rgba(52, 52, 52, 0.6);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        display: inline-block;
        position: relative;
    } 

    .center--suitcase--container{
        /*width: 70vw; */
        min-height: 94vh;
        margin: 0 8px;
        border-radius: 0;
        background-color: rgba(52, 52, 52, 0.6);
        display: inline-block;
        position: relative;
    
    }

    .right--suitcase--container{
        max-width: 12%;
        /*max-height: 94vh;*/
        margin: 0 auto;
        background-color: rgba(52, 52, 52, 0.6);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: inline-block;
        position: relative;
    }

    .section--container{
        max-width: 100%;
        /*height: fit-content;
        min-height: 110vh;*/
        margin: 20px auto;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #7FE7DC;
    }

    .outer--contact--container{
        max-width: 100vw;
        /*height: fit-content;    
        min-height: 140vh;*/
        /*margin-top: 50px;*/
        background: url('../images/contact.png') center center / cover no-repeat fixed;  
        background-color: rgba(52, 52, 52, 0.6);
        border-radius: 22px;
        background-size: center center / cover no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

@media screen and (min-width:1700px){
    .left--suitcase--container{
        max-width: 12%;
        /*max-height: 94vh;*/
        margin: 0 auto;
        background-color: rgba(52, 52, 52, 0.6);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        display: inline-block;
        position: relative;
        left: 25px;
    } 

    .center--suitcase--container{
        min-width: 64%;
        /*min-height: 76vh;*/
        margin: 0 5px;
        padding: 50px;
        background-color: rgba(52, 52, 52, 0.6);
        display: inline-block;
        position: relative;
    }

    .right--suitcase--container{
        max-width: 12%;
        /*height: 94vh;*/
        margin: 0 auto;
        background-color: rgba(52, 52, 52, 0.6);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: inline-block;
        position: relative;
    }
}

.note{
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}


/* **************************************************General Media Queries */
/* *********************************************************************** */
/*
@media only screen and (max-width: 768px) {
  .responsive {
    width: 100%;
  }
} */


@media screen and (max-width: 420px) {
    form{
        text-align: right;
    }
    footer label {
        margin-right: 10px
    }
    footer input{
        margin-right: 2px;
    }
}

@media (min-device-width:320px) and (max-device-width:768px) {
    @supports (-webkit-touch-callout: none) {
        .hero-image-home{
            height: 65vh;
            background-position: center;
            background-attachment: scroll;
            background: url('../images/castletown-wide.png') center center / cover no-repeat fixed; 
            background-size: center center / cover no-repeat fixed;
            -webkit-background-size: center center / cover no-repeat fixed;
            -moz-background-size: center center / cover no-repeat fixed;
            -o-background-size: center center / cover no-repeat fixed;
        }

        .hero-image-itinerary{
            height: 65vh;
            background-position: center;
            background-attachment: scroll;
            background: url('../images/castletown-wide.png') center center / cover no-repeat fixed; 
            background-size: center center / cover no-repeat fixed;
            -webkit-background-size: center center / cover no-repeat fixed;
            -moz-background-size: center center / cover no-repeat fixed;
            -o-background-size: center center / cover no-repeat fixed;
        }

        .hero-image-add-on{
            height: 65vh;
            background-position: center;
            background-attachment: scroll;
            background: url('../images/add-on-hero.png') center center / cover no-repeat fixed; 
            background-size: center center / cover no-repeat fixed;
            -webkit-background-size: center center / cover no-repeat fixed;
            -moz-background-size: center center / cover no-repeat fixed;
            -o-background-size: center center / cover no-repeat fixed;
        }

        .hero-image-gallery{
            height: 65vh;
            background-position: center;
            background-attachment: scroll;
            background: url('../images/boann-pot-still.png') center center / cover no-repeat fixed;
            background-size: center center / cover no-repeat fixed;
            -webkit-background-size: center center / cover no-repeat fixed;
            -moz-background-size: center center / cover no-repeat fixed;
            -o-background-size: center center / cover no-repeat fixed;
        }

        .hero-image-contact{
            height: 65vh;
            background-position: center;
            background-attachment: scroll;
            background: url('../images/contact.png') center center / cover no-repeat fixed;
            background-size: center center / cover no-repeat fixed;
            -webkit-background-size: center center / cover no-repeat fixed;
            -moz-background-size: center center / cover no-repeat fixed;
            -o-background-size: center center / cover no-repeat fixed;
        }
    }
}





